* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./Fonts/SourceSansPro-Black.ttf');
    src: url('./Fonts/SourceSansPro-Bold.ttf');
    src: url('./Fonts/SourceSansPro-ExtraLight.ttf');
    font-weight: inherit;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./Fonts/Quicksand-Light.ttf');
    src: url('./Fonts/Quicksand-Medium.ttf');
    src: url('./Fonts/Quicksand-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow: hidden;
}

.body {
    margin: 0;
    background: url("./Image/Image.jpg");
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar, .content {
    height: 450px;
    font-family: 'Source Sans Pro';
}

.sidebar {
    margin: 0 10px 0 0;
}

.content {
    width: 50%;
}

.items {
    text-decoration: none;
    color: black;
    opacity: 0.4;
}



