.textField {
    margin: 15px 0 0 0;
    width: 550px;

    display: flex;
    align-self: center;
    align-items: center;
}

.input {
    color: black;
    opacity: .8;
}


.button {
    height: 56px;
}

@media (max-width: 670px) {
    .textField {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .textField {
        width: 300px;
    }
}