.items {
    font-size: 30px;
    list-style: none;
    border-bottom: 1px solid lightgray;
    position: relative;
}


.items:hover {
    background-color: #F0F0F0;

}

@media (max-width: 670px) {
    .items {
        font-size: 25px;
        line-height: 40px;
    }
}

@media (max-width: 480px) {
    .items {
        font-size: 20px;
        line-height: 40px;
    }
}

